

.clubs-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}


.main-clubs{
    display: flex;
    align-items: center;
}

.club-image{
    width: 50px;
    height: 50px;
    border-radius: 100px;
}

.player-image{
    border-radius: 10px;
}



.card{
    background-color: #242424;
}



.content-card-body{
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 1px 0 0px rgba(255, 254, 254, 0.966);
    cursor: pointer;
}


.content-card-body:hover{
    background-color: #303030;
    border-radius: 10px;
}
.side-card-bar{
    border:1px solid #121212;
    border-radius: 20px;
    margin-top: 110px;
}

.arrow-icon{
    color: white;
    font-size: 1.5rem;
}

.transfers-button{
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.transfers-button:hover{
    background-color: #303030;
    border-radius: 20px;
}

.transfer-button-text{

    color: #ffc107;
    font-size: 1rem;
}


.arrow-container{
    display: flex;
    align-items: center;
    justify-content: center;
}